[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = '*'
pandas = '*'
scikit-learn = '*'
scipy = '*'
joblib = "*"
pyyaml = "*"
multiprocess = "*"
ipykernel = "*"
wheel = "*"
twine = "*"
liac-arff = "*"

[dev-packages]

[requires]
python_version = "3.11"
